{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "SqliteDbPath": "az305.db",
    "Jwt:Secret": "REPLACE_WITH_A_LONG_RANDOM_SECRET_AT_LEAST_64_CHARS",
    "ALLOWED-ORIGINS": "http://localhost:5173"
  }
}
